.text-right
{
    text-align: right;
}

.text-center
{
    text-align: center;
}

.text-left
{
    text-align: left;
}

.float-right
{
    float: right;
}

.float-left
{
    float: left;
}

p
{
    line-height: 2em;
}

.hero-unit 
{
    background-color: transparent;
    padding: 0;
    margin: 0;
}

.hero-unit h1
{
    font-size: 100px;
    font-family: 'Lobster', Cursive;
}


.hero-unit .btn-large
{
    font-size: 18px
}

.hero-unit .btn-large small
{
    font-size: 12px
}

.chiclets
{
    list-style: none outside none;
    margin: 0;
    min-height: 30px;
    overflow: hidden;
    padding: 5px 20px;
    text-align: center;
}

.chiclets li 
{
    color: #999999;
    display: inline;
    margin: 0 5px;
}

#footer .logo-font
{
    font-family: 'Lobster', Cursive;
    font-size: 24px;
}